{% extends 'base.html' %}
{% block content_1 %}
<!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Welcome to <span>Rudraksha India</span></h2>
          <p>15 years of Pure Innovation, Purity and Customer Care</p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started"><b>Get Started</b></a>
            <a href="#" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span><b>Watch Video</b></span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="{{ url_for('static', filename='images/hero-img.svg') }}" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-leaf"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Enviromental Sustainablity</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-gem"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Quality Assurance</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-recycle"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Innovation in Recycling</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-command"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Customized Solutions</a></h4>
            </div>
          </div><!--End Icon Box -->

        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="notabout" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
          <p>Welcome to Rudraksha Enterprises</p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-6">
            <h3>5-Step Finishing Process</h3>
          <img src="{{ url_for('static', filename='images/factory.png') }}" class="img-fluid rounded-4 mb-4" alt="">
            <img src="assets/img/about.jpg" class="img-fluid rounded-4 mb-4" alt="">
            <p class="fst-italic"><strong>
              Finishing Processes are as follows:-</strong> 
            </p>
            <div class="content">
            <ul>
              <li><i class="bi bi-check-circle-fill"></i>Grinding Battery boxes.</li>
              <li><i class="bi bi-check-circle-fill"></i>Washing and Double washing system.</li>
              <li><i class="bi bi-check-circle-fill"></i>Drying with latest tech system.</li>
              <li><i class="bi bi-check-circle-fill"></i>Colour wise Sorting.</li>
              <li><i class="bi bi-check-circle-fill"></i>Cutted Granuels live Virgin Quality.</li>
            </ul>
            <p>Behind our remarkable journey stands Mr. Kirti Kumar Mangla, a name synonymous with 
              leadership in the lead and battery recycling industry since 2000. His relentless pursuit
               of sustainable practices and innovation led to a groundbreaking idea - the utilization
                of battery plastic byproducts to create top-tier PPCP granules.</p>
          </div>
            
          </div>
          <div class="col-lg-6">
            <div class="content ps-0 ps-lg-5">
              <p>At Rudraksha Enterprises, we believe in the power of innovation,
                 responsibility, and sustainable practices. Our journey, which 
                 began in 2008 in the vibrant city of Jaipur, Rajasthan, has been
                 nothing short of transformative. Founded by industry luminary 
                 Kirti Kumar Mangla, we have emerged as pioneers in the manufacturing
                 of PPCP (Polypropylene Co-Polymer) Granules derived from battery-grade plastic.</p>
              <p>Setting New Standards We take immense pride in being the first mover
                 in Rajasthan's PPCP manufacturing industry. Our humble beginnings at 
                 the Sarna Dungar Industrial Area in Jaipur were marked by a vision to
                  not only produce high-quality granules but also to make a positive 
                  impact on the environment.</p>
              <p>A Diverse Client Base Over the years,we have had the privilege of serving
                 more than 200 clients and brands across diverse sectors, including household 
                 products, paint bucket manufacturing, automobile components, and packaging 
                 industries. Our PPCP granules have become the cornerstone of their manufacturing processes, 
                 helping them achieve excellence in their respective domains.</p>

              <div class="position-relative mt-4">
              <img src="{{ url_for('static', filename='images/granuels.png') }}" class="img-fluid rounded-4" alt="">
              <a href="https://www.youtube.com/watch?v=nudqIgL4-XM&t=2s&ab_channel=IndiaMARTSupplierBusinessProfile" class="glightbox play-btn"></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

   

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4 align-items-center">

          <div class="col-lg-6">
            <img src="{{ url_for('static', filename='images/stats-img.svg') }}" alt="" class="img-fluid">
          </div>

          <div class="col-lg-6">

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Happy Clients</strong> </p>
            </div><!-- End Stats Item -->

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Projects</strong> </p>
            </div><!-- End Stats Item -->

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="453" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hours Of Support</strong> </p>
            </div><!-- End Stats Item -->

          </div>

        </div>

      </div>
    </section><!-- End Stats Counter Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container text-center" data-aos="zoom-out">
        <a href="#" class="glightbox play-btn"></a>
        <h3>Contact Us</h3>
        <p> </p>
        <a href="https://wa.me/918949711067" target="_blank" rel="noopener noreferrer" class="cta-btn">Drop A Message</a>
      </div>
    </section>
    <!-- End Call To Action Section -->

    <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Features</h2>
          <p>Absolutely, practical selling points like on-time delivery and product customization are highly attractive to customers. Here are some more practical attributes to emphasize in your sales and marketing efforts:
          </p>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
<!-- 1 -->
          <div class="col-lg-4 col-md-6">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <h3>On-Time Delivery</h3>
              <p> Stress your reliability in delivering products when promised. Highlight any track record of meeting or exceeding delivery deadlines.
              </p>
              <!-- <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->
<!-- 2 -->
          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-people"></i>
              </div>
              <h3>Product Customization</h3>
              <p>Showcase your ability to tailor products to meet specific customer needs. Provide examples of how customization has solved unique challenges for clients.
              </p>
              <!-- <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->
<!-- 3 -->
          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-person-check"></i>
              </div>
              <h3>Responsive Customer Support</h3>
              <p>Emphasize your responsive and helpful customer support team that can address inquiries, concerns, or issues promptly.


              </p>
              <!-- <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->
<!-- 4 -->
          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-graph-up-arrow"></i>
              </div>
              <h3>Quality Guarantees</h3>
              <p> Reinforce your commitment to product quality with clear guarantees and warranties. This builds trust with customers.

              </p>
              <!-- <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item --><div class="col-lg-4 col-md-6">
            <!-- 5 -->
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-piggy-bank"></i>
              </div>
              <h3>Competitive Pricing</h3>
              <p>If your prices are competitive, make this clear and provide comparisons with competitors when relevant.

              </p>
              <!-- <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item --><div class="col-lg-4 col-md-6">
            <!-- 6 -->
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-bank"></i>
              </div>
              <h3>Efficient Returns and Refunds</h3>
              <p>Outline your return and refund policies to reassure customers that they are protected in case of issues.
              </p>
              <!-- <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a> -->
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Our Services Section -->

    

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Products</h2>
          <p>Elevating Possibilities with Premium PPCP and PP Granules - Redefining Durability and Design.</p>
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

          <div>
            <ul class="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">PPCP</li>
              <li data-filter=".filter-product">PP</li>
              </ul>
            <!-- End Portfolio Filters -->
          </div>

{% for i in ppcp %}


          <div class="row gy-4 portfolio-container">

            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <a href="{{i['Image_link']}}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{{i['Image_link']}}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">{{i['title']}}</a></h4>
                  <p>{{i['dic']}}</p>
                </div>
              </div>
            </div>
            <!-- End Portfolio Item -->     
            {% endfor %}   
            
            {% for i in pp %}
            
              <div class="col-xl-4 col-md-6 portfolio-item filter-product">
                <div class="portfolio-wrap">
                  <a href="{{i['Image_link']}}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{{i['Image_link']}}" class="img-fluid" alt=""></a>
                  <div class="portfolio-info">
                    <h4><a href="portfolio-details.html" title="More Details">{{i['title']}}</a></h4>
                    <p>{{i['dic']}}</p>
                  </div>
                </div>
              </div>
              <!-- End Portfolio Item -->    
            {% endfor %}   


          </div>
          <!-- End Portfolio Container -->

        </div>

      </div>
    </section><!-- End Portfolio Section -->


    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-posts" class="recent-posts sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Recent Blog Posts</h2>
          <!-- <p>Consequatur libero assumenda est voluptatem est quidem illum et officia imilique qui vel architecto accusamus fugit aut qui distinctio</p> -->
        </div>

        <div class="row gy-4">
{% for i in blog_Data| reverse %}


          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="{{i['Image_link']}}" alt="" class="img-fluid">
              </div>

              <!-- <p class="post-category">Politics</p> -->

              <h2 class="title">
                <a href="/blog/{{i['_id']}}">{{i['title']}}</a>
              </h2>

              <div class="d-flex align-items-center">
                <!-- <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0"> -->
                <div class="post-meta">
                  <!-- <p class="post-author">Maria Doe</p> -->
                  <p class="post-date">
                    {{i['date']}}
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
          {% endfor %}
        

        </div><!-- End recent posts list -->

      </div>
    </section><!-- End Recent Blog Posts Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact</h2>
     
        </div>

        <div class="row gx-lg-0 gy-4">

          <div class="col-lg-4">

            <div class="info-container d-flex flex-column align-items-center justify-content-center">
              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Location:</h4>
                  <p> H-1,430 SARNA DUNGAR INDUSTRIAL AREA<br>
                    JHOTWARA EXT, JAIPUR</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p><a href="mailto:rudrakshaenterprises5501@gmail.com" style="color:#000000;">Rudrakshaenterprises5501@gmail.com</a></p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Call:</h4>
                  <p><a href="https://wa.me/918949711067" target="_blank" rel="noopener noreferrer" style="color:#000000;">+91 8949711067</a></p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-clock flex-shrink-0"></i>
                <div>
                  <h4>Open Hours:</h4>
                  <p>Mon-Sat: 9AM - 6PM</p>
                </div>
              </div><!-- End Info Item -->
            </div>

          </div>

          <div class="col-lg-8">
            <form class="php-email-form"  method="POST">
              <div class="row">
                {{ form.hidden_tag() }}

                <div class="col-md-6 form-group">
                  {{ form.name(class="form-control") }}
                </div>

                <div class="col-md-6 form-group mt-3 mt-md-0">
                  {{ form.email(class="form-control") }}
          
                </div>
                
              </div>
              <div class="form-group mt-3">
                {{ form.phone_no(class="form-control", minlength="5", maxlength="10") }}
            </div>

              <div class="form-group mt-3">
                
                {{ form.Subject(class="form-control") }}
              </div>

              <div class="form-group mt-3">
                {{ form.message(class="form-control") }}
                
                
              </div>

              <!-- <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div> -->

              <div class="text-center">
                {{ form.submit(class="btn", style="background-color: #daa520;") }}
            </div>
            

            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  {% endblock content_1 %}
